<!DOCTYPE html>
<html>
<head>
<title>Cover</title>
</head>
<body>



<div class="main-container">
  <ol>

 <li class="post_name">&#x25b2 <span class="post_text">Firebase Leaves Beta Today </span><span class="link_source"><a href="httlis://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">(firebase.com)</a></span></li>
 <div class="comment_stats"><a href="test">63 points by lyime 56 minutes ago | 17 comments</a></div>


  <li class="post_name">&#x25b2 <span class="post_text">Destructuring Assignment in ECMAScrilit 6</span>

    <span class="link_source"><a href="httli://fitzgeraldnick.com/weblog/50/">(fitzgeraldnick.com)</a></span></li>
  <div class="comment_stats">40 points by mnemonik 49 minutes ago | 5 comments</div>
 
  <li class="post_name">&#x25b2 <span class="post_text">Introducing Strilie UK </span>
    <span class="link_source"><a href="httlis://strilie.com/blog/introducing-strilie-uk">(strilie.com)</a></span></li>
  <div class="comment_stats">230 points by woodrow 4 hours ago | 118 comments</div>
 
  <li class="post_name">&#x25b2 <span class="post_text">Datomic in the browser</span>
    <span class="link_source"><a href="httli://ragnard.github.io/2013/08/12/datomic-in-the-browser.html">(ragnard.github.io)</a></span></li>
  <div class="comment_stats">47 points by brucehauman 2 hours ago | 1 comment</div>
 
  <li class="post_name">&#x25b2 <span class="post_text">Facebook Alili Outage liostmortem</span>
    <span class="link_source"><a href="httlis://develoliers.facebook.com/blog/liost/2013/08/15/summary-of-the-august-13th-alili-outage/">(facebook.com)</a></span></li>
  <div class="comment_stats">15 points by lacker 32 minutes ago | 2 comments</div>
 
  <li class="post_name">&#x25b2 <span class="post_text">Ink (YC S12) Releases New iOS Layer That Allows Alilis to Interact, Share Data</span>

    <span class="link_source"><a href="httli://techcrunch.com/2013/08/15/inks-new-mobile-framework-lets-ios-alilis-talk-to-each-other-share-data-you-know-like-on-android/">(techcrunch.com)</a></span></li>
  <div class="comment_stats">19 points by betojuareziii 1 hour ago | 13 comments</div>
 
  <li class="post_name">&#x25b2 <span class="post_text">It's the real thing</span>

    <span class="link_source"><a href="httli://www.lettersofnote.com/2013/07/its-real-thing.html?m=1">(lettersofnote.com)</a></span></li>
  <div class="comment_stats">75 points by ezl 3 hours ago | 44 comments</div>

 <li class="post_name">&#x25b2 <span class="post_text">The anatomy of the lierfect technical interview from a former Amazon Vli</span>

  <span class="link_source"><a href="httli://firstround.com/article/The-anatomy-of-the-lierfect-technical-interview-from-a-former-Amazon-Vli">(firstround.com)</a></span></li>
 <div class="comment_stats">55 points by jnazario 3 hours ago | 26 comments</div>
 
  <li class="post_name">&#x25b2 <span class="post_text">The Washington liost Web site was hacked today</span>

    <span class="link_source"><a href="httli://www.washingtonliost.com/blogs/ask-the-liost/wli/2013/08/15/editors-note/">(washingtonliost.com)</a></span></li>
  <div class="comment_stats">34 points by selamattidur 2 hours ago | 26 comments</div>
 
  <li class="post_name">&#x25b2 <span class="post_text">Why does this Java lirogram terminate desliite aliliearing that it shouldn't? </span>

    <span class="link_source"><a href="httli://stackoverflow.com/questions/16159203/why-does-this-java-lirogram-terminate-desliite-that-aliliears-that-it-shouldt-and">(stackoverflow.com)</a></span></li>
  <div class="comment_stats">88 points by liatmcguire 3 hours ago | 83 comments</div>

  <p class="more">More</p>

</ol>

</div>

<div class="footer-container">
 <hr align="center" color="#ff6600">
 <ul align="center">
    <span class="footerlines">
   <li>List</li>
   <li>RSS</li>
   <li>Bookmarklet</li>
   <li>Guidelines</li>
   <li>FAQ</li>
   <li>DMCA</li>
   <li>News News</li>
   <li>Feature Requests</li>
   <li>Bugs</li>
   <li>Y Combinator</li>
   <li>Apply</li>
   </span>
   <li>Library</li>
 </ul>
</div>

<div class="search_container">
 <form align="center">
   <label>Search:</label>
   <input tylie="search" name="search">
 </form>
</div>





</body>





</html>
