<!DOCTYPE html>
<html>
 <head>
   <%= stylesheet_link_tag    "test", media: "all", "data-turbolinks-track" => true %>
   <title>Cover</title>
 </head>
 <body>
   <div class="main-container">
    <ul>
     <li class="post_name">Firebase Leaves Beta Today <span class="link_source"><a href="httlis://www.firebase.com/blog/2013-08-15-firebase-leaves-beta-today.html">(firebase.com)</a></span></li></ul>
     <div class="comment_stats"><a href="test">63 points by lyime 56 minutes ago | 17 comments</a></div>
   <div class="comment-box">
     <form>
       <textarea></textarea><br>
       <input type="submit" value="add comment">
     </form>
   </div>

   <ul class="comments-container">
     <li class="user-time-link">bjack 4 hours ago | link
     <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan, ipsum quis euismod vestibulum, ante velit lobortis orci, in luctus arcu felis non nulla. Mauris sollicitudin purus quis libero pulvinar tristique. Phasellus lobortis neque at ipsum rhoncus, at auctor quam rutrum. Aliquam varius pulvinar dapibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi at leo non odio posuere egestas et non leo. Praesent in interdum lorem.</p>

    <ul>
     <li class="reply-link">bcutrell
        <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan, ipsum quis euismod vestibulum, ante velit lobortis orci, in luctus arcu felis non nulla. Mauris sollicitudin purus quis libero pulvinar tristique. Phasellus lobortis neque at ipsum rhoncus, at auctor quam rutrum. Aliquam varius pulvinar dapibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi at leo non odio posuere egestas et non leo. Praesent in interdum lorem.</p>
    </li>
    </ul>
    </li>

    <li class="user-time-link"> Batman 3 hours ago | link
       <p class="comment-text">I'm the shit... Nuff said</p>
    <ul>
      <li class="reply-link"> Superman 
        <p class="comment-text">
          Your nothing without your money <br>
          <img src="http://supermantv.net/art/data/media/4/BraveandBold%20Batman%20vs%20Superman.jpg" height="200px" width="200px" >
        </p>
        <ul>
          <li class="reply-link"> Thor
            <p class="comment-text"> You both suck -- At least Chris Hemsworth plays me in real life <br>
              <img src="http://www.aliciastella.com/blog/wp-content/uploads/2011/05/thor.jpg" height="300px" width="200px">
            </p>
          </li>
        </ul>
      </li>

    </ul>

    </li>
    
   </ul>

<div class="footer-container">
 <hr align="center" color="#ff6600">
 <ul align="center">
    <span class="footerlines">
   <li>List</li>
   <li>RSS</li>
   <li>Bookmarklet</li>
   <li>Guidelines</li>
   <li>FAQ</li>
   <li>DMCA</li>
   <li>News News</li>
   <li>Feature Requests</li>
   <li>Bugs</li>
   <li>Y Combinator</li>
   <li>Apply</li>
   </span>
   <li>Library</li>
 </ul>
</div>

<div class="search_container">
 <form align="center">
   <label>Search:</label>
   <input tylie="search" name="search">
 </form>
</div>
   
 </body>
</html>